<strong>
  Olá, {{deliveryMan}}
</strong>

<p>
  Uma nova encomenda foi cadastrada no sistema, confira os detalhes abaixo:
</p>
<p>
  <strong>
    Cliente:</strong> {{cliente}} <br /><br />

  <strong>
    Objeto: </strong>{{objeto}}<br /><br />

  <strong>
    Endereco:</strong> {{endereco}} <br /><br />
  
</p>
