<strong>
  Olá, {{provider}}
</strong>

<p>
  Houve um cancelamento de horário, confira os detalhes abaixo:
</p>
<p>
  <strong>
    Cliente:</strong> {{user}} <br /><br />

  <strong>
    Data / Hora: </strong>{{date}}<br /><br />

  <smaill>
    O horário está novamente disponível.
  </smaill>
</p>
